body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
.content{
    background: #dddddd;
    width: 600px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,0.2),0 4px 5px 0 rgba(0,0,0,0.14),0 4px 7px -1px rgba(0,0,0,0.12);
    border-radius: 8px;
}
.image-bg{
    background: url("../images/sistema-calefaccion-solar.jpg");
    width: 600px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 600px 400px;
    position: absolute;
    right: 0;
}


.signals{
    position: absolute;
    width: 300px;
    height: 390px;
    margin-top: 10px;

}
.signals div{
    width: 70px;
    height: 55px;
    background: black;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    border-radius: 10px;
}
.signals div:nth-child(1){
    margin-left: 8px;
}
.signals div:nth-child(2){
    position: absolute;
    bottom: 16px;
    left: 6px;
}

#calefaccion::after{
    content: "Calefacción";
    margin-left: 80px;
    font-size: 30px;
    font-weight: 600;
}
#enfriamiento::after{
    content: "Enfriamiento";
    margin-left: 80px;
    font-size: 30px;
    font-weight: 600;

}
.active-cooling{
    background: #17A1E2 !important;
}
.active-heating{
    background: yellow !important;
}
.buttons-hours{
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

.buttons-hours .btn{
    color: white;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    background-color: #26a69a;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

.buttons-hours .active{
    padding: 10px;
    font-size: 13px;
    height: 17px;
    background-color: rgba(38, 166, 154, 0.39);
}

.temperatures{
    position: absolute;
    height: 250px;
    width: 60px;
    right: 8px;
    bottom: 106px;
    border-radius: 5px;
    padding: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 3px 0 rgb(0, 0, 0),0 1px 1px 0 rgb(0, 0, 0),0 2px 1px -1px rgba(0, 0, 0, 0.84);
}

.grades{
  width: 60px;
  height: 20px;
  background: red;
  border: 1px solid;
  margin-bottom: 7px;
  opacity: 0.4;
}

.hot{
  background: #EC4949;
}
.medium{
  background: #47C347;
}
.cold{
  background: #17A1E2;
}

.opacity{
    opacity: 1;
}